data
utils/__pycache__
weights_only_lad/
weights_all_branches/
dataloaders/__pycache__/
.ipynb_checkpoints/
prediction_results/
venv/
utils/
runs/
dataloaders/
__pycache__/
.ipynb_checkpoints/
prediction_results/
experiments/
*.save
*.swp
*.pyc
*.xlsx
*.csv
.idea/